name: Test Build, Test, Publish Wheel
on:
  workflow_dispatch:
  # pull_request: # Enable this for PR testing. Since we don't have a full Python project this is just a smoke test for making sure the workflow syntax is correct.

jobs:
  build-test-publish-wheel:
    uses: ./.github/workflows/_build_test_publish_wheel.yml
    with:
      dry-run: true
      python-package: fw_ci_templates
      python-version: '3.10'
      packaging: uv
      no-publish: true
      has-src-dir: true
      skip-test-wheel: true
    secrets:
      TWINE_USERNAME: test # pragma: allowlist secret
      TWINE_PASSWORD: test # pragma: allowlist secret
